{% extends 'common/base.html' %}

{% block content %}
<img src="{{ post.photo.url }}" alt="" width="300">
<div>작성자 : {{ post.author }}</div>
<div>좋아요 개수 : {{ post.like_count }}</div>

<h5>댓글 목록</h5>
{% if post.comment_set.all %}
    {% for comment in post.comment_set.all %}
    <div>
        <div>작성자 : {{ comment.author }}</div>
        <div>내용 : {{ comment.content }}</div>
        <div>작성일자 :{{ comment.created_date }}</div>
    </div>
    {% endfor %}
{% else %}
    <div>댓글이 없습니다</div>
{% endif %}
{% endblock %}